<form [formGroup]="gameForm">
    <p>
        <mat-form-field>
            <input type="text" matInput placeholder="Name" formControlName="name">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <input type="date" matInput placeholder="Date" formControlName="DateTime">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <input type="text" matInput placeholder="StreetAddress" formControlName="streetaddress">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <input type="text" matInput placeholder="Address 1" formControlName="address1">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <input type="text" matInput placeholder="City" formControlName="city">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <input type="text" matInput placeholder="State" formControlName="state">
        </mat-form-field>
    </p>
</form>